
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');





body{
  background-color: black;
}

#maingrid{
  row-gap: 10px;
  column-gap: 10px;
  display: grid;
  width: 100vw;
  height: 400vh;
  grid-template-columns: 15vw 1fr;
  grid-template-rows: 7.5vw 7.5vw 3fr 2fr 1fr 1fr 1fr 4fr 1rem;
  grid-template-areas: 
  'log nav'
  'log img1'
  'own img1'
  'sta sta'
  'res res'
  'opn opn'
  'ads ads'
  'img2 img2'
  'fot fot';

}
#menugrid{
  row-gap: 10px;
  column-gap: 10px;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 15vw 1fr;
  grid-template-rows: 7.5vw 7.5vw 1fr 2rem;
  grid-template-areas: 
  'log nav'
  'log img1'
  'ing1 img1'
  'fot fot'
  ;

}

#infogrid{
  row-gap: 10px;
  column-gap: 10px;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 15vw 35vw 35vw 15vw;
  grid-template-rows: 7.5vw 7.5vw 1fr 2rem;
  grid-template-areas: 
  'log nav nav nav'
  'log . . own'
  'wgu wgu bsk own'
  'fot fot fot fot';

}
#wagyu{
  grid-area: wgu;
  background-image: url(../img/wagyu-fly.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4rem;
}
.beskrivning{
  grid-area: bsk;
 font-size: 2rem;
}
#ingredients1{
  grid-area: ing1;
  background-color: rgb(224, 224, 166);
  border-radius: 6px;

  padding: 10%;
}
.white{
  color: antiquewhite;
}
footer{
  grid-area: fot;
  text-align: center;
}
nav{
  grid-area: nav;
  background-color: rgb(71, 67, 67);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a{
  background-color: beige;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  margin: 3px;
  height: 70%;
  font-family: 'Philosopher', sans-serif;
  color: black;
}
nav a:hover{
  background-color: rgb(179, 179, 158);

}
.logo{
  grid-area: log;
  background-image: url(../img/Logo-mrfly.jpg);
  background-size: cover;
}
p{
  
  font-family: 'Philosopher', sans-serif;
  color: rgb(0, 0, 0);
}

.portrait{
  grid-area: own;
  display: flex;
  background-image: url(../img/mr\ vegas.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: column-reverse;
  text-align: center;
  background-color: rgb(143, 143, 143);
  border-radius: 40px;
  align-items: center;
}
.bot{
  height: 30%;
}

.apetiser{
  grid-area: img1;

  background-image: url(../img/clasic.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  
}

#stars{
  grid-area: sta;
  background-image: url(../img/3\ stars.png);
  background-position: center;
  background-size: auto,100%;
  background-repeat: no-repeat;
}
#ressensioner{
  grid-area: res;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ressensioner article{
  text-align: center;
  margin: 2rem;
  font-size: 2rem;
}
#öppettider{
  grid-area: opn;
  border-radius: 3rem;
  background-color: antiquewhite;
  text-align: center;
  font-size: 3rem;
}
#adress{
  grid-area: ads;
  border-radius: 3rem;
  background-color: rgb(230, 167, 86);
  text-align: center;
  font-size: 2rem;
}
#resturant{
  grid-area: img2;
  background-image: url("../img/resturaunt.jpg");
  background-position: center;
}
footer{
  grid-area: fot;
}